input{
	margin:0;
	border:0;
	padding:0.35rem;
	display:inline-block;
	vertical-align:middle;
	white-space:normal;
	background: #fff;
	//line-height: 1.9rem;
	
	/* Browsers have different default form fonts */
	font-size:13px;
	font-family:Arial;
}
input:focus
{
	outline:0;
}